# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
  
- List Popular languages for data science
- List Commonly used libraries
- List Data Science tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Scikit

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to multiply then add integers.

print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

## Author
Azma Farhana